{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
{% block title %}
  <title>HTML BOILERPLATE</title>
{% endblock title %}
  <link rel="shortcut icon" href="{% static "terminal.svg" %}" type="image/svg">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="canonical" href="https://termcolors.dev/" />
  <meta property="og:title" content="" />
  <meta property="og:url" content="https://termcolors.dev/" />
  <meta name="description" content="The home of all your favorite terminal themes!" />
  <meta property="og:title" content="Termcolors.dev" />
  <meta property="og:description" content="The home of all your favorite terminal themes!" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  {% tailwind_css %}
</head>
<body class="bg-zinc-900">
	{% block root %}
		<h1 class="text-3xl">I think someone forgot to fill out their template!</h1>
	{% endblock root %}
</body>
</html>
