<article
  id="{{ scheme.name|slugify }}"
  class="transition text-lg hover:text-black hover:bg-white hover:cursor-pointer px-3 py-2 rounded-md border border-zinc-800 border-solid bg-zinc-900"
  hx-trigger="click"
  hx-history="false"
  hx-get="/preview/{{ scheme.name|slugify }}/"
  hx-swap="innerHTML"
  hx-target="#preview"
  hx-replace-url="/#{{ scheme.name|slugify }}"
  role="button"
>
  <span class="flex flex-col justify-start py-1">
	  <h2 class="transition grow flex items-start font-bold mb-1">
		  {{ scheme.name }}
	  </h2>
	  <!-- <hr class="border border-white border-dashed mr-1" /> -->
	  <div class="flex gap-2" id="tags">
	  {% if scheme.contrast_ratio > 16 %}
		  <div class="bg-black rounded-md py-1 px-2 text-white w-fit text-sm border border-white border-solid font-bold">
			  &#128161; High contrast
		  </div>
	  {% endif %}
	  {% if scheme.is_dark %}
		  <div class="bg-gray-700 rounded-md py-1 px-2 text-white text-sm border border-gray-500 border-solid font-bold">
			  &#127769; Dark mode
		  </div>
	  {% else %}
		  <div class="bg-white rounded-md py-1 px-2 text-gray-700 w-fit text-sm font-bold border border-solid border-gray-700">
			  &#9728;&#65039; Light mode
		  </div>
	  {% endif %}
	  </div>
  </span>
  <div class="flex gap-1">
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color0 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color8 }};"></div>
    </span>
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color1 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color9 }};"></div>
    </span>
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color2 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color10 }};"></div>
    </span>
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color3 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color11 }};"></div>
    </span>
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color4 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color12 }};"></div>
    </span>
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color5 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color13 }};"></div>
    </span>
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color6 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color14 }};"></div>
    </span>
    <span>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 " style="background-color:{{ scheme.color7 }};"></div>
	    <div class="min-h-7 max-h-7 min-w-7 max-w-7 mt-1 " style="background-color:{{ scheme.color15 }};"></div>
    </span>
  </div>
</article>
