{% extends "home.html" %}
{% load static %}
{% block title %}
	<title>Termcolors.dev</title>
{% endblock title %}
{% block root %}
{% spaceless %}
	<div class="w-full text-white bg-zinc-900 h-full" style="font-family: Inter;" id="main">
		<div class="mx-4 md:px-0 md:w-7/8 lg:px-0 pr-1 py-4 mb-12">
			<div class="flex justify-center mb-2">
				<div>
					<div class="flex mb-1">
						<input
							id="page-search"
							type="search"
							placeholder="Search for a theme..."
							class="grow text-white border-2 border-zinc-700 border-solid rounded-md bg-zinc-800"
						>
						<img class="ml-[-2rem] w-5 invert" src="{% static "search.svg" %}">
					</div>
					<div class="flex gap-2">
						<label class="bg-black rounded-md mt-1 py-1 px-2 text-white text-sm border border-white border-solid font-bold flex items-center gap-1 select-none hover:cursor-pointer">
							<input name="high_contrast" type="checkbox" checked> High contrast
						</label>
						<label class="bg-gray-700 rounded-md mt-1 py-1 px-2 text-white text-sm border border-gray-500 border-solid font-bold flex items-center gap-1 select-none hover:cursor-pointer">
							<input name="dark_mode" type="checkbox" checked> Dark mode
						</label>
						<label class="bg-white rounded-md mt-1 py-1 px-2 text-gray-700 text-sm border border-gray-700 border-solid font-bold flex items-center gap-1 select-none hover:cursor-pointer">
							<input name="light_mode" type="checkbox" checked> Light mode
						</label>
					</div>
				</div>
			</div>
			<div style="font-family: Inter;" class="flex gap-2 justify-center flex-wrap" id="colorschemes">
			{% for scheme in colorschemes %}
				{% include "row.html" %}
			{% endfor %}
			</div>
			<button
				id="back-to-top"
				class="transition-all fixed bottom-4 w-40 bg-gradient-to-t from-pink-700 to-pink-500 border-2 border-pink-900 border-solid hover:underline text-white py-2 px-4 rounded-md flex items-center gap-2"
				style="left: -12rem;"
			>
				<img class="invert w-6 rotate-90" src="{% static "back.svg" %}"> Back to top
			</button>
		</div>
		<div class="fixed top-0 w-[100vw] h-[100vh] flex items-center justify-center backdrop-blur-sm backdrop-brightness-50" id="preview-backdrop">
			<div
				class="w-fit h-fit flex flex-col justify-center items-center border-zinc-700 bg-zinc-900 rounded-lg p-4"
				id="preview"
			>
				<div class="mt-8 mb-2" id="loading-indicator">
					<img class="animate-spin invert w-8" src="{% static "loading.svg" %}">
				</div>
			</div>
		</div>
	</div>
	<script>
	function registerListeners() {
		document.querySelectorAll('#colorschemes').forEach((element) => {
			element.addEventListener('htmx:beforeRequest', () => {
				const previewElement = document.querySelector('#preview-backdrop');
				previewElement.querySelector('#preview').innerHTML =
`<div class="mt-8 mb-2" id="loading-indicator">
	<img class="animate-spin invert w-8" src="{% static "loading.svg" %}">
</div>`;
				previewElement.style.display = 'flex';
			});
			element.addEventListener('htmx:afterRequest', () => {
				document.querySelector('#preview').classList.add('squeeze');
			});
		});
	}

	let rows = [];
	document.addEventListener("DOMContentLoaded", () => {
		const elements = document.querySelectorAll("#colorschemes article");
		elements.forEach((element, i) => {
			if (i > 0) {
				rows.push(element);
			}
		});
		const searchInput = document.querySelector('input[type="search"]');
		const searchCallback = () => {
			const text = document.querySelector('input[type="search"]').value;
			const matchingRows = [];
			const includeLight = document.querySelector('input[name="light_mode"]').checked;
			const includeDark = document.querySelector('input[name="dark_mode"]').checked;
			const includeHighContrast = document.querySelector('input[name="high_contrast"]').checked;

			rows.forEach((row) => {
				const tags = row.children[0].querySelector('#tags').textContent.trim();
				if (!includeLight && tags.includes('Light mode')) {
					return;
				}
				if (!includeDark && tags.includes('Dark mode')) {
					return;
				}
				if (!includeHighContrast && tags.includes('High contrast')) {
					return;
				}
				const themeName = row.children[0].children[0].textContent.trim();
				if (themeName.toLowerCase().includes(text.toLowerCase())) {
					matchingRows.push(row);
				}
			});
			const tableBody = document.querySelector("#colorschemes");

			const rowsToAppend = [];

			matchingRows.forEach((row) => {
				rowsToAppend.push(row);
			});

			if (rowsToAppend.length) {
				tableBody.replaceChildren(...rowsToAppend)
			} else {
				tableBody.innerHTML = `<div class="text-lg mt-1 pl-1">No results found...</div>`;
			}
			registerListeners();
		};
		searchInput.addEventListener("input", searchCallback);
		if (searchInput.value) {
			searchCallback();
		}

		document.querySelector('input[name="light_mode"]').addEventListener('change', searchCallback);
		document.querySelector('input[name="dark_mode"]').addEventListener('change', searchCallback);
		document.querySelector('input[name="high_contrast"]').addEventListener('change', searchCallback);

		const hash = window.location.hash;
		if (hash) {
			const id = String(hash.slice(1));
			document.querySelector(`#${id}`).click();
		} else {
			document.querySelector('#preview-backdrop').style.display = 'none';
		}

		document.querySelector('[id="back-to-top"]').addEventListener('click', () => {
			window.scrollTo(0, 0);
		});

		window.addEventListener('scroll', (event) => {
			const pagePosition = this.scrollY;
			const body = document.querySelector('body');
			const pageHeight = body.clientHeight;

			const scrollPosition = pagePosition / pageHeight;

			// once you get 10% of the way down the page, the button appears
			if (scrollPosition > 0.10) {
				document.querySelector('button[id="back-to-top"]').style.left = '1rem';
			} else {
				document.querySelector('button[id="back-to-top"]').style.left = '-12rem';
			}
		});

		// make sure click doesn't bubble up to backdrop...
		document.querySelector('#preview').addEventListener('click', (event) => {
			event.stopPropagation();
		});

		function closeModal() {
			history.pushState("", document.title, "/");
			document.querySelector('#preview-backdrop').style.display = 'none';
		}
		document.addEventListener("htmx:afterSettle", (event) => {
			document.querySelector('button#close-modal').addEventListener('click', closeModal);
			document.querySelector('#preview-backdrop').addEventListener('click', closeModal);
		});

		registerListeners();
	});
	</script>
{% endspaceless %}
{% endblock root %}
