{% extends "home.html" %}
{% block root %}
	<div class="w-full flex flex-col items-center py-4">
		<table class="w-2/3">
			<div class="flex justify-start w-2/3 mb-2">
				<input type="search" class="w-64 border border-black border-solid rounded-md bg-gray-200">
			</div>
			<thead class="text-lg">
				<tr>
					<th style="text-align: left;">Name</th>
					<th style="text-align: left;">Contrast</th>
					<th class="max-w-8">Colors</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for scheme in colorschemes %}
				<tr id="{{ scheme.name|slugify }}" class="text-lg">
					<td class="min-w-8 hover:cursor-pointer underline-offset-2 underline decoration-blue-500"><a href="/#{{ scheme.name|slugify }}">{{ scheme.name }}</a></td>
					<td class="min-w-8">{{ scheme.contrast_ratio }}</td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.cursor_foreground }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.cursor_background }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color0 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color1 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color2 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color3 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color4 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color5 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color6 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color7 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color8 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color9 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color10 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color11 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color12 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color13 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color14 }}"></td>
					<td class="min-w-8 border border-black border-solid" style="background-color: {{ scheme.color15 }}"></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<script>
	let rows = [];
	document.addEventListener("DOMContentLoaded", () => {
		const elements = document.querySelectorAll("tr");
		elements.forEach((element, i) => {
			if (i === 0) {
				return;
			}
			rows.push(element);
		});
		document.querySelector('[type="search"]').addEventListener("input", (event) => {
			const text = event.target.value;
			const matchingRows = [];

			rows.forEach((row) => {
				const themeName = row.children[0].textContent;
				if (themeName.toLowerCase().includes(text.toLowerCase())) {
					matchingRows.push(row);
				}
			});
			const tableBody = document.querySelector("tbody");

			// clear table
			tableBody.innerHTML = '';

			matchingRows.forEach((row) => {
				tableBody.appendChild(row);
			});
		});
	});
	</script>
{% endblock root %}
