{% extends "home.html" %}
{% load static %}
{% block title %}
	<title>Themes</title>
{% endblock title %}
{% block root %}
{% spaceless %}
	<div class="w-full flex justify-between bg-black text-white" style="font-family: Inter;">
		<div class="mx-2 md:px-0 md:w-7/8 lg:px-0 lg:w-1/3 pr-1 py-4">
			<div class="flex justify-between mb-2">
				<h1 class="pr-4 text-4xl italic text-white" style="font-family: Acme;">TERMCOLORS.dev</h1>
				<div class="flex">
					<input type="search" class="w-96 text-white border-2 border-white border-solid rounded-lg bg-black">
					<img class="ml-[-2rem] w-5 invert" src="{% static "search.svg" %}">
				</div>
			</div>
			<table>
				<thead class="text-lg">
					<tr>
						<th class="text-left pl-1" style="font-family: Inter;">Name</th>
						<th class="max-w-8">Colors</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody style="font-family: Inter;">
				{% for scheme in colorschemes %}
					<tr
						id="{{ scheme.name|slugify }}"
						class="text-lg"
						hx-trigger="click"
						hx-history="false"
						hx-get="/preview/{{ scheme.name|slugify }}/"
						hx-swap="innerHTML"
						hx-target="#preview"
						hx-replace-url="/#{{ scheme.name|slugify }}"
						hx-indicator="#loading-indicator"
						role="button"
					>
						<td class="flex flex-col justify-start pl-1">
							<h2 class="grow flex items-start hover:cursor-pointer hover:bg-white hover:text-black">
								{{ scheme.name }}
							</h2>
							<hr class="border border-white border-dashed mr-1" />
							{% if scheme.contrast_ratio > 16 %}
								<div class="bg-white rounded-md no-underline mt-1 py-1 px-3 text-gray-700 w-fit text-sm">
									High contrast
								</div>
							{% else %}
							{% endif %}
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.foreground }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.background }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color0 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color8 }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color1 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color9 }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color2 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color10 }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color3 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color11 }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color4 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color12 }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color5 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color13 }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color6 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color14 }};"></div>
						</td>
						<td>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color7 }};"></div>
							<div class="min-h-8 max-h-8 min-w-8 max-w-8 border border-solid border-black rounded-md" style="background-color:{{ scheme.color15 }};"></div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="mx-2 fixed right-0 top-4 h-[80vh] w-[50vw]" id="preview">
			<div class="h-full w-full flex flex-col justify-center items-center border-gray-200 border border-dashed">
				<h1 class="text-lg">Click the name of a theme to preview it</h1>
				<span>Created by <a class="underline underline-offset-2" href="https://higgi.nz/">@higgi.nz</a></span>
				<div>
					<p>Shoutout to <a class="underline underline-offset-2" href="https://github.com/alacritty">@alacritty</a> and <a class="underline underline-offset-2" href="https://github.com/dexpota">@dexpota</a> for providing some amazing color schemes.</p>
				</div>
				<div class="mt-8" id="loading-indicator">
					<img class="animate-spin invert w-8" src="{% static "loading.svg" %}">
				</div>
				<style>
					#loading-indicator {
						display: none;
					}
					#loading-indicator.htmx-request {
						display: block;
					}
				</style>
			</div>
		</div>
	</div>
	<script>
	let rows = [];
	document.addEventListener("DOMContentLoaded", () => {
		let maxCellWidth = 0;
		document.querySelectorAll("tr td:nth-of-type(1)").forEach((element) => {
			const { width } = element.getBoundingClientRect();

			if (width > maxCellWidth) {
				maxCellWidth = width;
			}
		});
		document.querySelectorAll("tr th:nth-of-type(1)").forEach((row) => {
			row.style["min-width"] = `${maxCellWidth}px`;
		});

		const elements = document.querySelectorAll("tr");
		elements.forEach((element, i) => {
			if (i > 0) {
				rows.push(element);
			}
		});
		document.querySelector('[type="search"]').addEventListener("input", (event) => {
			const text = event.target.value;
			const matchingRows = [];

			rows.forEach((row) => {
				const themeName = row.children[0].textContent;
				if (themeName.toLowerCase().includes(text.toLowerCase())) {
					matchingRows.push(row);
				}
			});
			const tableBody = document.querySelector("tbody");

			// clear table
			tableBody.innerHTML = '';

			matchingRows.forEach((row) => {
				tableBody.appendChild(row);
			});
		});

		const hash = window.location.hash;
		if (hash) {
			const id = String(hash.slice(1));
			document.querySelector(`[id="${id}"]`).click();
		}

		document.addEventListener('htmx:beforeRequest', () => {
			const target = document.querySelector('#theme-name');
			if (target) {
				target.classList.add("hidden");
			}
		});
	});
	</script>
{% endspaceless %}
{% endblock root %}
